@charset "utf-8";
/* CSS Document */
/***** -----   Initialization   -----*****/
html, body, div, span, h1, h2, h3, h4, h5, h6, hr, p, a, samp, strong, blockquote, dl, dt, dd, ul, ol, li, pre, form, label, table, tbody, tr, th, td, img { border:0; margin:0; padding:0; font-size:100%; }
input, textarea, select { margin:0; padding:0; }
a { text-decoration:none; outline:none; }
a:hover { text-decoration:underline; }
a:active { star:expression(this.onFocus=this.blur()); }
a:focus { outline:0; }
textarea, select { background:#fff; resize:none; }
body { font: 12px/1.5 \5B8B\4F53, Tahoma, Helvetica, Arial, sans-serif;font-family:Microsoft Yahei; }
ul, ol { list-style:none; }
em, i { font-style:normal; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfloat, .clears { clear:both; height:0; line-height: 0px; font-size: 1px; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
.none { display:none; }
.block { display:block; }
* { margin: 0;  padding: 0;}
/***** -----   Ending Initialization   -----*****/
/*头部导航*/
.top{background: none repeat scroll 0 0 #000;  }
.toper{height: 52px;  margin: 0 auto;  overflow: hidden;  width: 1188px;}
.toper b{color: #fff;  float: left;  font-family: "微软雅黑";  font-size: 14px;  line-height: 52px;  padding: 0 10px 0 15px;  text-transform: uppercase;  }
.tr {float: right;}
.mouth{float: left;  padding: 3px 0 0;}
 i{font-style: normal;}
.tr i img{float: left;}
 a img {border: 0 none;}
.head{ height: 130px;}
 a.welcome2 {  background: url("../img/bg97.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  display: block;  height: 24px;  margin: 15px 0 0;  width: 31px;  }
 a { color: #333;  cursor: pointer;  outline: medium none;  text-decoration: none;  }
.tr strong {  color: #fff;  float: left;  font-size: 16px;  font-weight: normal;  line-height: 52px;  padding: 0 10px;  }
.tr strong a {  color: #fff;  }
.tr span {  float: left;  padding-top: 15px;  }
/*.menu{ height:87px;background:#fff; overflow:hidden; margin-left:auto; margin-right:auto;}*/
.f2{ font-size: 16px;}
.menu .nav{height:51px;overflow:hidden;margin-top:24px;float:right;}
.menu .nav li{float:left;list-style:none;}
.menu .nav li a{display:block; height:51px; padding:0 15px; line-height:51px; color:gray; text-decoration:none; position:relative; overflow:hidden;}
.menu .nav li a:hover,.menu .nav li a.current{background:url(../img/nav_bg.gif) no-repeat center;}
.menu .nav li a.f1{font-size:15px; font-family:Microsoft Yahei; color:#333;}
.menu .nav li tt{display:block; float:right; background:url(../img/fgx.gif) no-repeat; width:11px; height:16px;margin-top:18px;}
.menu .nav li .box{width:100%; position:absolute;height:59px; /*top:87px;*/left:0;padding-left:200px;background:#6E6E88;display:none; z-index:9999; opacity:0.6}
.menu .nav li .box a{display:block;height:59px;float:left;color:#ddd;line-height:59px;border:none;background:none;font-size:15px;}
.menu .nav li .box a:hover{text-decoration:none;color:#fff}
.head_nav{ width: 1000px; margin: 0 auto;}

.banners{height:59px; background:#002496;}
.ban{width:960px;margin:auto; line-height:59px; }
.ban a{font-size:15px; font-family:Microsoft Yahei;color:#ddd; padding:0 15px;}
.ban a:hover{color:#fff; text-decoration:none;}
/*  15/02/28*/
a {text-decoration: none;  }
.fgx3{height:57px;  text-align:center; background: #F3FBFE }
#main_tools {  width: 1280px;  height: 59px;  background: none repeat scroll 0% 0% #80624A;  margin: 0px auto;  }
#main_tools li {  float: left;  }
#main_tools li img {  border: medium none;  }

.title_01 { height: 70px;  border-bottom: 1px solid #C4C4C4; padding-top: 30px;}
.title_01_1 { height: 70px;  padding-top: 30px;}
.title_01 .imgLink{ padding-bottom: 0;}
.title_01 .imgLink a{  display: block;  height: 28px;  margin: 0 auto;  width: 492px;}

.a_l1_t{ margin: 0 auto; width: 980px ; height: 60px; text-align: center;  }
.a_l1_t span{font-size: 20px;}
.b_ul_t li{ float: left; font-size: 13px; }
.c_l{ margin: 0 auto ; width: 800px}


.a_l1_t h5 {
    text-align: center;
    padding: 8px 0px 15px;
    line-height: 16px;
    height: 16px;
    color: #868686;

}
.a_l1_t h5 a{color: #8b8b8b;font-size: 14px;}
.a_l1_t h5 ul {
    display: inline-block;
    text-align: center;
    line-height: 16px;
    height: 16px;
    color: #868686;
}
.a_l1_t h5 ul li {
    display: inline-block;
    padding: 0px 5px;
    /*border-right: 1px solid #CCC;*/
    line-height: 16px;
    height: 16px;
}
/*banner*/

/* flexslider */
.flexslider{margin:0 auto;position:relative;height:450px;overflow:hidden;zoom:1;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
.flexslider .slides{zoom:1;}
.flex-direction-nav a{width:60px;height:90px;line-height:99em;overflow:hidden;margin:-60px 0 0;display:block;background:url(../img/ad_ctr.png) no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .3s ease;}
.flex-direction-nav .flex-next{background-position:0 -90px;right:0;}
.flex-direction-nav .flex-prev{left:0;}
.flexslider:hover .flex-next{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev{opacity:0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;filter:alpha(opacity=50);}
.flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{background:url(../img/dot.png) no-repeat 0 -16px;display:block;height:16px;overflow:hidden;text-indent:-99em;width:16px;cursor:pointer;}
.flex-control-paging li a.flex-active{background-position:0 0;}
/*内容*/
.con_a001{width: 980px; margin: 0 auto;}
.conter ul{text-decoration: none;}
.xl_001 .b{ height: 535px;}
.xl_001 .b .rsp{height: 535px;}
.xl_001 ul li{float:left;display:inline;width:322px;height:267px;overflow:hidden;position:relative;}
.xl_001 .rsp{width:322px;height:267px;overflow:hidden;position: absolute;background:#000;top:0px;left:0px;}

.al_001{ text-align: center; height: 50px; font-size: 16px; color: #C4C4C4;padding-top: 20px}
.xl_001 ul { height: 500px;  overflow: hidden;}
.xl_001 ul a.bigImg {   float: left;  height: 535px;  margin: 0 2px 0 0;  width: 322px;}
.xl_001 ul a.smallImg {   display: inline;  float: left;  height: 267px;  margin: 0 2px 1px;  width: 322px;}

.zl_001{ width: 980px;margin: 0 auto;font-size: 14px;}
.zl_001 h5{ color: #868686;  height: 16px;  line-height: 16px;  padding: 30px 0 30px;  text-align: center;}
.zl_001 ul{ color: #868686;  display: inline-block;  height: 16px;  line-height: 16px;  text-align: center;}
.zl_001 ul li{border-right: 1px solid #ccc;  display: inline-block;  height: 16px;  line-height: 16px;  padding: 0 5px; }
.zplist { overflow: hidden;  width: 980px; margin: 0 auto ;background: #C4C4C4;}
.zplist ul {width: 980px;  }
.zplist ul li { float: left;  }
.zplist ul li a {
    color: #fff;
    display: block;
    height: 484px;
    margin-bottom: 9px;
    /*margin-right: 9px;*/
    overflow: hidden;
    position: relative;
    width: 245px;
}
.zplist ul li a ins {
    background: url("../img/n08.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 429px;
    left: -290px;
    position: absolute;
    top: 0;
    width: 245px;
}
/*广告*/
.ad_001{ width: 980px ; height: 440px ;margin: 0 auto}
.ad_001_img01{ width: 472px; float: left; padding: 6px;padding-top: 55px}
.ad_001_img02{width: 472px; float: left;padding: 6px;padding-top: 55px}
/*导航条*/
.huan_title{ width:980px; margin: 0 auto;   border-bottom: 1px solid #cacaca;height: 45px; font-size: 20px; text-align: center;padding: 6px}
.huan_bt{ float: left; width: 195px;}
.huan_cen{width: 980px; margin: 0 auto;overflow: hidden;display: none;height: 500px;}
.huan_cen dt { text-align: center; font-size: 20px; padding: 10px;}
.huan_cen ul li {
    border-bottom: 1px solid #cacaca;
    float: left;
    padding: 20px 0 30px;
    width: 489px;
}
.huan_cen ul li a {
    width: 470px;
    display: block;
}
.huan_cen ul li a img {
    float: left;
    padding-left: 20px;
}
.nr {
    float: left;
    padding: 0 0 0 35px;
    width: 300px;
}
.huan_cen ul li a b {
    color: #5d5c5c;
    display: block;
    font-family: "微软雅黑";
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}
/*评论*/
.stbox05box {
    background: none repeat scroll 0 0 #ebebeb;
    overflow: hidden;
    padding: 19px 0 10px 13px;
    width: 980px;
    margin: 0 auto;
}
.stbox05box ul {
    width: 980px;
}
.stbox05box li {
    float: left;
    height: 70px;
    overflow: hidden;
    width: 235px;
}
.stbox05box li a:hover ins {
    background: url("../img/png08.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 6px 0 0 10px;
}
.stbox05box li a ins {
    background: url("../img/png07.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    font-size: 12px;
    height: 44px;
    padding: 6px 0 0 10px;
    width: 152px;
}
.stbox05box li a:hover ins p {
    color: #000;
}
.stbox05box li a ins p {
    color: #747474;
    height: 35px;
    line-height: 17px;
    overflow: hidden;
    width: 147px;
}
.stbox05box li a img {
    display: block;
    float: left;
    margin: 0 6px 0 0;
    width: 50px;
}
.i_001{ width: 980px; margin: 0 auto;}
.i_002{ width: 980px; margin: 0 auto;}
.i_003 img{max-width:100%;height:auto;}
.img_01 ,.img_02 ,.img_03 ,.img_04{ float: left;padding: 3px;}
/*尾*/
.flooter{background:#2E3339;padding:40px 0;font-family:Verdana, Arial, Helvetica, sans-serif;clear:both;}
.bottom6{overflow: hidden;  width: 100%;}
.copyright {
    margin: 0 auto;
    overflow: hidden;
    padding: 26px 0 28px;
    width: 1192px;
}
.links {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 33px;
    width: 1192px;
}
.copyright p {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
    padding: 0 0 5px;
    text-align: center;
}
.copyright span {
    color: #aca19b;
    display: block;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    padding: 0 0 4px;
    text-align: center;
    text-transform: uppercase;
}
.copyright font {
    color: #afa49e;
    display: block;
    font-family: "微软雅黑";
    font-size: 12px;
    text-align: center;
}
.copyright font a {
    color: #afa49e;
}
.links p {
    color: #b0a49e;
    display: block;
    line-height: 21px;
}
.links p a {
    color: #b0a49e;
    padding: 0 8px;
}



